* {
  font-family:'Josefin Sans', Light;
  color:#FFFFF4;
  /*border: 1px solid red;*/
}

html {
  /*height:100%;*/
}
body {


background: #360033; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*height:100%;*/
  /*background: #360033;
  background: -webkit-linear-gradient(#360033, #0b8793) fixed;
  background: linear-gradient(#360033, #0b8793) fixed;
  background: -o-linear-gradient(#360033, #0b8793) fixed;
  background: -moz-linear-gradient(#360033, #0b8793) fixed;
*/  /*margin: 0;*/
  /*background-repeat: no-repeat;*/
 /* background-attachment: fixed;*/
}

#page-1 {
  height:100vh;
  position:absolute;
}
  #hello{
  /*height:100vh;*/
  padding-top:250px;
  }
#page-2 {
  height:100vh;
  /*line-height:50px;*/
  position:absolute;
  top:1090px;
}

#page-3 {
  height:100vh;
  /*line-height:50px;*/
  position:absolute;
  top:2180px;
}

/*arrow to schroll down css begins here*/
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}
  .arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }

  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  .arrows path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

/*arrow to scroll down css ends here*/


#wrapper {
  position:relative;
}

#content {
  z-index:3;
  position: relative;
}
  #content article {
    width:100%;
  }
  #content h1 {
    /*line-height:100vh;*/
    display:block;
    vertical-align:middle;
    margin:auto 0;
    text-align:center;
  }


#bg-1{
  z-index:1;
  position:fixed;
}
  #bg1-1 {
    position: absolute;
    top: 85px;
    left: 0px;
    }
  #bg1-2 {
    position: absolute;
    top: 440px;
    left: 200px;
    }
  #bg1-3 {
    position: absolute;
    top: 0px;
    left: -220px;
    }
  #bg1-4 {
    position: absolute;
    top: 500px;
    left: 450px;
    }
/*.stars {
  animation: blink 2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}*/

#bg-2 {
  z-index: 2;
  position: fixed;
  }
  #bg2-1 {
    position: absolute;
    top: 162px;
    left: 200px;
    }
  #bg2-2 {
    position: absolute;
    top: 300px;
    left: 1150px;
    }
  #bg2-3 {
    position: absolute;
    top: 543px;
    left: -35px;
    }
  #bg2-4 {
    position: absolute;
    top: 1180px;
    left: 250px;
    }
  #bg2-5 {
    position: absolute;
    top: 900px;
    left: 890px;
    }


/*media queries*/

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  #content h1 {
    font-size:42px;
  }
  .rwd-break { display: none; }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #content h1 {
    font-size:36px;
  }
  .rwd-break { display: none; }
}
@media screen (max-width: 768px) {
  #content h1 {
    font-size:16px;
    /*line-height: 20px;*/
  }
}